@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: black; /* or whatever your site bg is */
  overscroll-behavior: none; /* prevents pull-to-refresh on some browsers */
}
